<% provide(:title, 'About') %>
<h1>About</h1>

<p>Lorem dolore qui dolore ipsum officia duis exercitation minim voluptate do aliquip irure. Aliqua id reprehenderit labore quis nulla reprehenderit incididunt consequat cupidatat. Aliqua dolor cupidatat veniam pariatur enim quis nostrud in sit. Consequat ad Lorem dolore dolor id ad reprehenderit nostrud culpa proident dolore ad labore. </p>
