<% users.each do |user| %>
  <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to(user.name, user) %>

      <%#
      # 
      # link_to                            method (a function)
      #
      # literal expression                 type             argument_type
      #---------------------------------------------------------------
      # "delete"                           String           positional required
      # user                               User             positional required
      # method: :delete                    Hash             keyword arguments
      # data: { confirm: "You sure?"}      Hash             keyword arguments


      # # "splat" (** is the spat operator) formulation where options is a hash shorthand {a: :b} stabby {:a => :b}
      # def link_to(label, resource_or_id, **options)
      #   puts options # {:method => :delete, :data => { :confirm => "You sure?"}}

      # required keyword formulation
      # def link_to(label, resource_or_id, method:, data:)
      #   puts method #  :delete
      #   puts data   #  { :confirm => "You sure?"}

      # optional keyword formulation
      # e.g. you can call `link_to('delete', user)`
      #
      # def link_to(label, resource_or_id, method: :get, data: {})
      #  puts method # :get
      #  puts data   # {}

      # What is link_to returning from the function call?
      #
      # res = link_to(....)
      # puts res.class #
      # puts res       #  
      #
      #
      # def foo(number)
      #   (number * 2).to_s
      # end
      #
      # res = foo(2)
      # puts res.class #  String
      # puts res       #  "4"

      ## link_to "user's name", user_instance, method: :get
%>
      <%= link_to("delete!!", user, method: :delete, data: { confirm: "You sure?" }) %>
       
  </li>
<% end %> 
